@import url('https://fonts.cdnfonts.com/css/allrounder-grotesk-test');

.container {
    column-count : 3;
    border-radius: 16px;
    margin: 0px auto;
    padding: 20px;
    background-color: #8B7E74;
    max-width: 1350px;
}

.pictureContainer {
    padding: 10px;
    display: flex;
}

.picture img{
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 16px;
    object-fit: cover;
    transition: transform .1s;
}

.picture img:hover{
    transform: scale(1.05);
}

.title {
    font-family: 'Allrounder Grotesk Test', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}